@import url(variables.css);
@import url(alert.css);
@import url(button-group.css);
@import url(button.css);
@import url(card.css);
@import url(dropdown.css);
@import url(form.css);
@import url(icon.css);
@import url(input.css);
@import url(label.css);
@import url(text.css);
@import url(tooltip.css);
@import url(modal.css);
@import url(loading.css);
@import url(fish-animation.css);

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  font-family: var(--font-family);
}